<!DOCTYPE html>
<html>
<head>
	<title>Vacation Applications</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Vacation application service</h1>
{% if current_user.status == "admin": %}
<p><a href="./stats">See stats</a>.</p>
{% endif %}
Hi, {{ current_user.name }}! This is your home page! <a href="./logout">Log out</a><br/>
You have <b>{{ current_user.days_free }} days</b> free for vacation this year.
{% if applications %}
<p>Your active applications:</p>
<table>
	<tr class="thead">
		<th>id</th>
		<th>start</th>
		<th>end</th>
		<th>status</th>
		<th></th>
	</tr>
	{% for app in applications %}
	<tr>
		<td class="id">{{app['ID']}}</td>
		<td class="start">{{app['start_date']}}</td>
		<td class="end">{{app['end_date']}}</td>
		<td class="{{app['status']}}">{{app['status']}}</td>
		<td class="revert">
			<button id="{{app['ID']}}" onclick="sendRequest(this)">revert</button>
		</td>
	</tr>
	{% endfor %}
</table>
<script type="text/javascript">
function sendRequest(el){
	$.ajax({
	type: "POST",
	url: '/revert',
	data: {
		"revert": true,
		"app_id": el.id
	},
	dataType: "json",
	success: onRemoval
});
}

function onRemoval(data) {
	console.log('Load was performed.');
	if (data.success){
		alert("Successfully removed the application!");
	} else {
		alert("Could not remove the application.")
	}
	location.reload();
}
</script>
<p>Want to create another one?</p>
{% elif create: %}
{% else: %}
<p>You have no active applications. Want to create one?</p>
{% endif %}
{% if create: %}
<form method="POST">
{% if error %}
<div class="alert">{{error}}</div>
{% endif %}
	<fieldset>
		<legend>Holiday application</legend>
		Start date:<br/>
		<input type="date" name="start_date"><br/>
		End date:<br/>
		<input type="date" name="end_date"><br/>
		<input type="submit" name="submit" value="Send">
	</fieldset>
</form>
{% else %}
<form method="POST">
	<input type="submit" name="submit" value="Apply for vacation!">
</form>
{% endif %}
</body>
</html>