<!DOCTYPE html>
<html>
<head>
	<title>Holiday Applications</title>
</head>
<body>
<h1>Welcome to the holiday application service!</h1>
<form action="./login" method="post">
	<h2>Please, log in!</h2>
	<fieldset>
		<legend>Log in</legend>
		Username<br/>
		<input type="text" name="username"><br/>
		Password<br/>
		<input type="password" name="password"><br/>
		<input type="submit" value="Log me in">				
	</fieldset>
</form>
<form action="./register" method="post">
	<h2>Have no account yet? Register!</h2>
	<fieldset>
		<legend>Register</legend>		
		First name<br/>
		<input type="text" name="name"><br/>
		Second name<br/>
		<input type="text" name="surname"><br/>
		Department<br/>
		<input type="text" name="department"><br/>
		Username<br/>
		<input type="text" name="username"><br/>
		Password<br/>
		<input type="password" name="password"><br/>
		Repeat password<br/>
		<input type="password" name="sec_password"><br/>
		<input type="submit" value="Register">	
	</fieldset>
</form>
</body>
</html>